.footer-container{
    text-align: center;
    background-color: #5D4037;
    height: 40px;
    width: 100%;
    position: fixed; 
    bottom:0px;
    font-size: x-large;
    font-weight: bolder;
    color: aliceblue;
}