.form-container{
    border: 3px solid #5D4037;
    top: 1rem;
    width: 15rem;
    height: 20rem ; 
    box-sizing: border-box;
    position: relative;
    transition: 0.2s ease-in-out;
    // background-color:#F5E6CA ;
    color: #5D4037;
    border-radius: 8px;
}
.main-form{
    position: absolute;
    width: 100%;
    height: 100%;
    // padding-right: 1rem;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.form-field input{
    width: 92%;
    height: 1.5rem;
    margin-top: 0.1rem;
    margin-left: 0.2rem;
    margin-bottom: 0.1rem;
    border: 2px solid #5D4037;
    background-color: #F5E6CA;
    border-radius: 10px;
    padding-left: 0.51rem;
    font-weight: bold;
    color: #5D4037;



}
.show{
    width: 20rem;
    height: 20rem;
}   
.hide{
    width: 4rem;
    height: 2rem;
}

.btn{
    position: absolute;
    top: 0;
    right: 0rem;
    z-index: 10;
    width: 4rem;
    height: 2rem;
    background-color: #F5E6CA;
    border: 2px solid #5D4037;
    border-radius: 5px;
    font-weight: bolder;
    color: #5D4037;
    font-size: larger;
}

.heading{
    border: 2px solid #5D4037;
    background-color: #F5E6CA;
    width: 65%;
    overflow: hidden;
    height: 2rem;
    text-align: center;
    box-sizing: border-box;
    padding-top:0.3rem ;
    padding-bottom:0.3rem ;
    margin-left: 0.2rem;
    margin-top: 0.09rem;
    font-weight: bolder;
    border-radius: 5px;
}

.submitButton{
    width: 47.5%;
    height: 2rem;
    margin-left: 0.2rem;
    background-color: #F5E6CA;
    font-weight: bolder;
    font-size: x-large;
    margin-bottom: 0.09rem;
    border: 2px solid #5D4037;
    color: #5D4037;
    border-radius: 10px;
    cursor: pointer;
}

.submitButton:hover{
    background-color: #5D4037;
    border: 2px solid #F5E6CA;
    color: #F5E6CA;

}